@import "layout";
@import "colors";

#nav {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-color:nth($primary,1);
}

nav ul {
  font-family: $ma-font-body;
  font-size: 135%;
  font-weight:200;

  //letter-spacing: 0.05em;
  text-transform:uppercase;
  
  li {
    padding-right:1em !important;
    margin-bottom:1.75em;
    a {
      text-decoration: none;
      color: nth($quadrary,4);
      border-bottom: 0.75em solid nth($quadrary,3);
      padding-bottom:0.25em;
      //text-shadow: 1px 1px 1px nth($black,3);
      
      //border-right: 2px solid nth($primary,2);
      //padding-right:0.25em;
    }
    
    .active-nav{
      border-bottom: 0.75em solid nth($quadrary,1);
    }
  }

  @include breakpoint($vertical-horizontal-nav) {
    @include horizontal-list;
  }
}

body {

  margin: 0;
  padding: 0;

  font-family: $ma-font-body;
  color: nth($black, 2);
  
  p {
    line-height:  1.5em;
  }

  h1, h2, h3, h4, h5, h6{
    font-family: $ma-font-headers;
    color: nth($black, 2);
  }
  
  h2{
    font-size: 250%; 
    font-weight:400;
    text-transform:uppercase;
    color:nth($primary,1);
  }
  
  h3{
   font-size: 200%; 
  }
  
  a {
    text-decoration:none;
    color: nth($quadrary, 2);
    border-bottom: 1px solid nth($primary, 4);
  }
  
  .buttons ul li{
    margin: 0 0 3em 0;
    
    .big-button {
        color: nth($primary, 6);
        padding: 1em;
        border: 1px solid nth($primary, 3);
        background-color: nth($primary, 1);
    }
    
    .small-button {
        color: nth($primary, 1);
        padding: 0.5em;
        border: 1px solid nth($primary, 3);
        background-color: white;
    }
  }
}

.page-wrapper {
  @include box-sizing('border-box');

}

.content-wrapper {
  max-width: $max-page-width;
  @include box-sizing('border-box');
  @extend %clearfix-micro;
  padding: .75em;
}

#prototype-header {

  background-color: nth($primary,1);
  
  h1, h2, h3, h4, h5, h6, .page-info {
    margin: 0;
    padding: 0;
    color: white;
    background: none;
    border: none;
    vertical-align: baseline;
    @include box-shadow(none);
    @include text-shadow(none);
  }

  h1 {
    font-family: $ma-font-body;
    font-size: 60px;
    font-weight: 200;
    text-transform:uppercase;
  }

  h2 {
    font-size: 4em;
    font-weight: bold;
  }

  h4 {
    font-size: 1em;
    font-weight: bold;
  }

  .section-name {
    margin-top: .1em;
  }

  .page-info {
    font-size: 1em;
    font-weight: normal;
    margin-top: .4em;
  }

  p {
    margin: 0;
  }
}

#client-id {
  width: 100%;
  @extend %clearfix-micro;

  @include breakpoint($single-to-multi-column) {
    @include golden('left');
  }
}

#page-id {
  width: 100%;
  @extend %clearfix-micro;

  @include breakpoint($single-to-multi-column) {
    text-align: right;
    @include golden('right');
  }

}

@import "../setup/app/app";