//////////////////////////////
// Build out your Style Tile!
//
// Your Style Guide will cascade over
//
// Any styling specific to the Style Tile that you would not want in your final Style Guide should go in here.
//////////////////////////////

// Colors
.color-1 {
  background: nth($black, 1);
}

.color-2 {
  background: nth($primary, 1);
}

.color-3 {
  background: nth($secondary, 2);
}

.color-4 {
  background: nth($primary, 6);
}

.color-5 {
  background: nth($quadrary, 3);
}

.color-6 {
  background: nth($quadrary, 4);
}

//from ge:

.client-logo{
    max-width: 150px;    
  }